@using System.Web.Optimization

@section Scripts{
    <script src="~/App/Components/Users/App.js"></script>
    <script src="~/App/Components/Users/UsersListController.js"></script>
    <script src="~/App/Components/Users/NewUserController.js"></script>
    @Scripts.Render("~/Content/js/datatable")
    @Scripts.Render("~/Content/js/libs")
    @Scripts.Render("/Content/js/listbox")
}

@section jsCode {
    angular.bootstrap(document.getElementById("users"), ['users']);
}

<!-- Main content  -->
<div class="content-wrapper" id="users">

    <!-- Content area -->
    <div class="content">

        <div ng-view></div>


        <!-- Footer -->
        <div class="footer text-muted">
            &copy; @DateTime.Now.Year
        </div>
        <!-- /footer -->

    </div>
    <!-- /content area -->
</div>
<!-- /main content -->


