<script src="../../../../assets/js/pages/my_settings.js"></script>

<div class="col-lg-9">
    <div class="tabbable">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="settings">
                <!-- Profile info -->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h6 class="panel-title">Información Personal</h6>
                    </div>
                    <div class="panel-body">
                        <form action="#">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Nombre</label>
                                        <input ng-model="user.firstName" type="text" value="" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Apellido</label>
                                        <input ng-model="user.lastName" type="text" value="" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Dirección 1</label>
                                        <input ng-model="user.address1" type="text" value="" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Dirección 2</label>
                                        <input ng-model="user.address2" type="text" value="" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Ciudad</label>
                                        <input type="text" value="" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Estado/Provincia</label>
                                        <input type="text" value="" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Usuario</label>
                                        <input ng-model="user.userName" type="text" value="" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Mi Correo</label>
                                        <input ng-model="user.email" type="text" value="" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Número de Teléfono</label>
                                        <input type="text" ng-model="user.phoneNumber" class="form-control">
                                        <span class="help-block">+99-99-9999-9999</span>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Cargar Imagen de perfil</label>
                                        <input type="file" class="file-styled">
                                        <span class="help-block">Formatos permitidos: gif, png, jpg. Tamaño Max. archivo 2Mb</span>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">Guardar <i class="icon-arrow-right14 position-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /profile info -->
            </div>

            <div class="tab-pane fade" id="reset-password-form">
                <!-- Account settings -->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h6 class="panel-title">Cambiar mi contraseña</h6>
                    </div>
                    <div class="panel-body">
                        <form action="#">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Nueva contraseña</label>
                                        <input type="password" placeholder="Ingrese una nueva contraseña" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Repetir nueva contraseña</label>
                                        <input type="password" placeholder="Repita la nueva contraseña" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">Guardar <i class="icon-arrow-right14 position-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /account settings -->
            </div>

         </div>
    </div>
</div>

<div class="col-lg-3">
    <!-- User thumbnail -->
    <div class="thumbnail">
        <div class="thumb thumb-rounded thumb-slide">
            <img src="../../../../assets/images/placeholder.jpg" alt="">
            <div class="caption">
                <span>
                    <a href="#" class="btn bg-success-400 btn-icon btn-xs" data-popup="lightbox"><i class="icon-plus2"></i></a>
                    <a href="#" class="btn bg-success-400 btn-icon btn-xs"><i class="icon-link"></i></a>
                </span>
            </div>
        </div>

        <div class="caption text-center">
            <h6 class="text-semibold no-margin">{{user.fullName}}
                <small class="display-block">{{ user.role }}</small>
            </h6>
        </div>
    </div>
    <!-- /user thumbnail -->
</div>