
<script src="../../../../assets/js/plugins/forms/validation/validate.min.js"></script>
<script src="../../../../assets/js/plugins/forms/validation/localization/messages_es.min.js"></script>
<script src="../../../../assets/js/pages/my_settings.js"></script>


<div class="col-lg-9" ng-controller="MySettingsController">
    <div class="tabbable">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="settings">
                <!-- Profile info -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6 class="panel-title">Información Personal</h6>
                    </div>
                    <div class="panel-body">
                        <form name="settings-form" ng-submit="onSubmitSettingsForm()">
                            <div id="selist" server-errors></div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Nombre <span class="text-danger">*</span></label>
                                        <input name="user_name" required="required" ng-model="settingsService.firstName" type="text" value="" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Apellido <span class="text-danger">*</span></label>
                                        <input name="user_last_name" required="required" ng-model="settingsService.lastName" type="text" value="" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Dirección 1 <span class="text-danger">*</span></label>
                                        <input name="address1" required="required" ng-model="settingsService.address1" type="text" value="" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Dirección 2</label>
                                        <input name="address2" ng-model="settingsService.address2" type="text" value="" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Ciudad</label>
                                        <input type="text" value="" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Estado/Provincia</label>
                                        <input type="text" value="" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Usuario <span class="text-danger">*</span></label>
                                        <input name="username" required="required" ng-model="settingsService.userName" type="text" value="" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Mi Correo <span class="text-danger">*</span></label>
                                        <input name="email" required="required" ng-model="settingsService.email" type="text" value="" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Número de Teléfono <span class="text-danger">*</span></label>
                                        <input name="phonenumber" required="required" type="text" ng-model="settingsService.phoneNumber" class="form-control">
                                        <span class="help-block">+99-99-9999-9999</span>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Cargar Imagen de perfil</label>
                                        <input type="file" class="file-styled">
                                        <span class="help-block">Formatos permitidos: gif, png, jpg. Tamaño Max. archivo 2Mb</span>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">
                                    Guardar <i class="icon-arrow-right14 position-right"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /profile info -->
            </div>

            <div class="tab-pane fade" id="reset-password-form">
                <!-- Account settings -->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h6 class="panel-title">Cambiar mi contraseña</h6>
                    </div>
                    <div class="panel-body">
                        <form name="reset-password-form" ng-submit="onSubmitResetPasswordForm()">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Nueva contraseña <span class="text-danger">*</span></label>
                                                    <input id="password" ng-model="settingsService.password" required="required" type="password" name="password" placeholder="Ingrese una nueva contraseña" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Repetir nueva contraseña <span class="text-danger">*</span></label>
                                                    <input ng-model="settingsService.confirmPassword" required="required" type="password" name="repeat_password" placeholder="Repita la nueva contraseña" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">
                                    Guardar<i class="icon-arrow-right14 position-right"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /account settings -->
            </div>

        </div>
    </div>
</div>

<div class="col-lg-3">
    <!-- User thumbnail -->
    <div class="thumbnail">
        <div class="thumb thumb-rounded thumb-slide">
            <img src="../../../../assets/images/placeholder.jpg" alt="">
            <div class="caption">
                <span>
                    <a href="#" class="btn bg-success-400 btn-icon btn-xs" data-popup="lightbox"><i class="icon-plus2"></i></a>
                    <a href="#" class="btn bg-success-400 btn-icon btn-xs"><i class="icon-link"></i></a>
                </span>
            </div>
        </div>

        <div class="caption text-center">
            <h6 class="text-semibold no-margin">{{settingsService.fullName}}
                <small class="display-block">{{ settingsService.role }}</small>
            </h6>
        </div>
    </div>
    <!-- /user thumbnail -->
</div>